{% if results|length > 0 %}
    <div class="block-contentlist-events {{ block_class }}">
        <div class="row block-header">
            <span class="block-header__name">{{ block_name }}</span>
        </div>
        {% for item in results  %}
            {{ fos_httpcache_tag('relation-' ~ item.content.id) }}
            <div class="row content-view-line content-type-blog-post align-items-top">
                <div class="col-md-3">
                    {% set image_field_name = ez_content_field_identifier_first_filled_image(item.content) %}
                    {{ ez_render_field(item.content, image_field_name, {
                        parameters: {
                            alias: 'medium'
                        }
                    }) }}
                </div>
                <div class="col-md-9">
                    <h2 class="field-title"><a href="{{ ez_path( item.location ) }}">{{ ez_content_name(item.content) }}</a></h2>
                    <div class="field-intro">
                        {% if item.content.fields.intro is defined and not ez_field_is_empty( item.content, "intro" ) %}
                            {{ ez_render_field(item.content, 'intro')|striptags|u.truncate(180)|raw }}
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
        {% if block_style is not empty %}
            <style type="text/css">{% block block_style %}{{ block_style|raw }}{% endblock %}</style>
        {% endif %}
    </div>
{% endif %}